body {
  background-color: rgb(90, 90, 90);
}
.main-body {
  position: relative;
  height: 100vh;
  width: 100vw;
}
.iphone-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.iphone-border {
  height: 900px;
  width: 900px;
  min-height: 900px;
  min-width: 900px;
  z-index: -1;
}
.iphone-background {
  height: 600px;
  width: 308px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: orange;
  border-radius: 10px;
  z-index: -2;
}
.title {
  position: absolute;
  top: 20%;
  left: 50.5%;
  transform: translate(-50%);
  height: 50px;
  pointer-events: none;
}
.todo-title {
  position: absolute;
  top: 33.5%;
  left: 37.8%;
  transform: translate(0, -50%);
  height: 75px;
  pointer-events: none;
  font-family: cursive;
}
.list-icon {
  position: absolute;
  top: 37%;
  left: 36%;
  transform: translate(0, -50%);
  height: 75px;
  pointer-events: none;
}
.todo-button {
  position: absolute;
  top: 36%;
  left: 36%;
  transform: translate(0, -50%);
  height: 90px;
  width: 90px;
  z-index: 200;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.complete-title {
  position: absolute;
  top: 33.5%;
  left: 54%;
  transform: translate(0, -50%);
  height: 75px;
  pointer-events: none;
  font-family: cursive;
}
.complete-icon {
  position: absolute;
  top: 36.7%;
  left: 55.2%;
  transform: translate(0, -50%);
  height: 58px;
  pointer-events: none;
}
.green-checkmark-icon {
  position: absolute;
  top: 37%;
  left: 36%;
  transform: translate(0, -50%);
  height: 75px;
  pointer-events: none;
  opacity: 0;
}
.complete-button {
  position: absolute;
  top: 36%;
  left: 54%;
  transform: translate(0, -50%);
  height: 90px;
  width: 90px;
  z-index: 200;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}
.add-task {
  position: absolute;
  top: 45%;
  left: 36%;
  height: 90px;
  width: 250px;
  cursor: pointer;
  font-family: cursive;
  font-size: 40px;
  background-color: orange;
  border-radius: 10px;
  border: solid;
}
.working-on {
  position: absolute;
  top: 56%;
  left: 35%;
  height: 210px;
  width: 250px;
  font-size: 40px;
  background-color: orange;
  border-radius: 10px;
  border: solid;
  padding-left: 14px;
  pointer-events: none;
  font-family: cursive;
}
.scroll-div {
  position: absolute;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  top: 62.5%;
  left: 36%;
  height: 150px;
  width: 250px;
  font-family: cursive;
  background-color: orange;
  border-top: solid;
}
.scroll-div::-webkit-scrollbar {
  display: none;
}
.darken {
  height: 600px;
  width: 308px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(80, 80, 80);
  border-radius: 32px;
  opacity: 0.5;
  z-index: 10;
}
.submit-wrapper {
  position: absolute;
  background-color: orange;
  height: 250px;
  width: 275px;
  top: 38%;
  left: 34.2%;
  z-index: 11;
  border: solid;
  border-radius: 10px;
  font-family: cursive;
}
.add-task-title {
  margin-left: 94px;
  font-size: 15px;
}
.title-input {
  margin-left: 10px;
}
.title-input-bar {
  background-color: orange;
  border: none;
  border-bottom: solid;
}
.description-input {
  margin-left: 10px;
}
.description-input-bar {
  background-color: orange;
  border: solid;
  margin-left: 4px;
  resize: none;
  border-radius: 10px;
}
.due-input {
  margin-left: 10px;
}
.due-input-bar {
  background-color: orange;
  border: none;
  border-bottom: solid;
  resize: none;
}
.submit-button-task {
  font-family: cursive;
  background-color: orange;
  border: solid;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 10px;
  z-index: 15;
  cursor: pointer;
}
.return-icon {
  position: absolute;
  top: 20%;
  left: 35%;
  height: 40px;
  pointer-events: none;
}
.return-button {
  position: absolute;
  top: 19.4%;
  left: 34%;
  height: 55px;
  width: 60px;
  z-index: 200;
  opacity: 0;
  cursor: pointer;
}
.scroll-div-todo {
  position: absolute;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  top: 25%;
  left: 34.25%;
  height: 500px;
  width: 275px;
  font-family: cursive;
  background-color: orange;
  border: solid;
}
.x-button {
  position: inherit;
  background-color: rgba(255, 166, 0, 0);
  border: none;
  color: red;
  font-size: 20px;
  cursor: pointer;
}
.task-in-landing-wrapper {
  display: flex;
  margin-left: -5px;
  margin-top: -14px;
}
.x-button-in-working-tasks {
  background-color: rgba(255, 166, 0, 0);
  border: none;
  color: red;
  font-size: 18px;
  cursor: pointer;
}
.landing-task-title {
  margin-right: 10px;
  font-size: 13px;
  font-weight: bold;
  margin-top: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.landing-task-due-date {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: -1.1px;
  white-space: nowrap;
  margin-left: auto;
}
.todo-list-title {
  position: relative;
  margin-left: 24%;
  font-size: 30px;
  font-weight: bold;
}
.todo-list-task-wrapper {
  display: flex;
}
.x-button-in-todo {
  background-color: rgba(255, 166, 0, 0);
  border: none;
  color: red;
  font-size: 25px;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 5px;
  margin-top: -9px;
}
.task-title-in-todo {
  font-size: 19px;
  margin-top: -1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.details-in-todo {
  margin-left: auto;
  border: none;
  background-color: orange;
  cursor: pointer;
  margin-right: 10px;
  font-size: 19px;
}
.grey-screen-description {
  height: 600px;
  width: 308px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(80, 80, 80);
  border-radius: 32px;
  opacity: 0.5;
  z-index: 10;
}
.info-box {
  position: absolute;
  left: 3.6%;
  height: 400px;
  width: 250px;
  background-color: orange;
  z-index: 20;
  border: solid;
  text-align: center;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.info-box::-webkit-scrollbar {
  display: none;
}
.info-box-title {
  font-size: 25px;
  display: inline;
}
.info-box-description {
  margin-top: 10px;
}
.task-title-in-todo {
  margin-left: 5px;
}
.return-icon-in-info {
  top: 0;
  left: 0;
  cursor: pointer;
  pointer-events: all;
}
.complete-button-info-box {
  position: relative;
  background-color: green;
  color: rgb(0, 0, 0);
  border: solid;
  border-radius: 10px;
  cursor: pointer;
  font-size: 30px;
  margin-top: 20px;
}
.green-checkmark-todo {
  position: inherit;
  height: 20px;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  pointer-events: all;
}
.completed-list-title {
  position: relative;
  margin-left: 14%;
  font-size: 29px;
  font-weight: bold;
}
.login-interface {
  position: absolute;
  top: 28%;
  left: 39%;
  border: solid;
  height: 200px;
  width: 200px;
  font-family: cursive;
}
.username {
  position: relative;
  text-align: center;
}
.username-input {
  background-color: orange;
  border: none;
  border-bottom: solid;
}
.password {
  position: relative;
  text-align: center;
}
.password-input {
  background-color: orange;
  border: none;
  border-bottom: solid;
  margin-bottom: 10px;
}
.sign-in {
  background-color: orange;
  border: solid;
  margin-left: 12px;
  margin-right: 10px;
  cursor: pointer;
}
.register {
  background-color: orange;
  border: solid;
  margin-left: 39px;
  margin-right: 10px;
  cursor: pointer;
}
.guest {
  background-color: orange;
  border: solid;
  margin-left: 35px;
  margin-right: 10px;
  margin-top: 20px;
  cursor: pointer;
}
.note {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 200px;
}
.settings {
  position: absolute;
  height: 50px;
  top: 19.5%;
  left: 34.5%;
  cursor: pointer;
  pointer-events: all;
}
.help {
  position: absolute;
  height: 40px;
  top: 38%;
  left: 47.1%;
  cursor: pointer;
  pointer-events: all;
}
.profile {
  position: absolute;
  height: 40px;
  top: 20%;
  left: 60%;
  cursor: pointer;
  pointer-events: all;
}
.users-name {
  position: absolute;
  font-size: 20px;
  font-family: cursive;
  top: 24%;
  left: 59.4%;
  pointer-events: none;
}
.logout {
  position: absolute;
  font-size: 20px;
  font-family: cursive;
  top: 26%;
  left: 58.5%;
  pointer-events: all;
  cursor: pointer;
}
.help-box {
  position: absolute;
  height: 500px;
  width: 290px;
  background-color: orange;
  border: solid;
  top: 23%;
  left: 33.5%;
  z-index: 30;
  font-family: cursive;
  text-align: center;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.help-box::-webkit-scrollbar {
  display: none;
}
.help-x {
  position: inherit;
  color: red;
  pointer-events: all;
  cursor: pointer;
  font-size: 39px;
  top: -2%;
  left: 5%;
}
.settings-box {
  position: absolute;
  height: 500px;
  width: 290px;
  background-color: orange;
  border: solid;
  top: 23%;
  left: 33.5%;
  z-index: 30;
  font-family: cursive;
}
.settings-x {
  position: inherit;
  color: red;
  pointer-events: all;
  cursor: pointer;
  font-size: 39px;
  top: -2%;
  left: 2%;
}
.setting-title {
  position: relative;
  font-size: 30px;
  top: -5%;
  text-align: center;
  left: 5%;
}
.settings-text {
  margin-left: 10px;
}
.setting-option {
  background-color: orange;
  border: solid;
  font-family: cursive;
}
.settings-confirm {
  background-color: orange;
  margin-left: 48px;
  height: 50px;
  width: 200px;
  border: solid;
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
}
